{% set item_show_image = true %}
{% extends '/partials/item/base.html.twig' %}

{% block item_image %}
    {% switch page.collection|length %}
        {% case 1 %}
            {% set width  = [320] %}
            {% set height = [320] %}
            {% set class = [''] %}
        {% case 2 %}
            {% set width  = [160, 160] %}
            {% set height = [320, 320] %}
            {% set class = ['border-right text-right', 'border-left text-left'] %}
        {% case 3 %}
            {% set width  = [160, 160, 160] %}
            {% set height = [320, 160, 160] %}
            {% set class = ['border-right text-right', 'border-left border-bottom', 'border-left border-top'] %}
        {% default %}
            {% set width  = [160, 160, 160, 160] %}
            {% set height = [160, 160, 160, 160] %}
            {% set class = ['border-right text-right border-bottom', 'border-left border-bottom', 
                            'border-right text-right border-top', 'border-left border-top'] %}
    {% endswitch %}

    <a href="{{ page.url }}" class="{{ item_image_link_classes ?: 'card-image text-decoration-none' }}">
        <div class="card-img-grid text-left">
            {% set count = page.collection|length == 4 ? 4 : 3 %}
            {% for example in page.collection[:count] %}
                <img 
                    class="img-fluid card-img-top w-auto {{ class[loop.index0] }}" 
                    src="{{ example.media[example.header.image].cropZoom(width[loop.index0], height[loop.index0]).url }}" 
                    alt="{{ example.title }}"
                >
            {% endfor %}
        
            {% if page.collection|length > 4 %}
                <span class="more-count text-secondary text-center {{ class[3] }}">{{ page.collection|length - 3 }}</span>
            {% endif %}
        </div>
    </a>
{% endblock %}