{# find image folder #}
{% set folder = page.find('/images/' ~ tax) %}
{% if not folder %}
    {% set folder = page.find('/images') %}
{% endif %}

{# find term image #}
{% set image = folder.media[term ~ '.jpg'] %}
{% if not image %}
    {% set image = folder.media['no-image.jpg'] %}
{% endif %}
{% if not image %}
    {% set image = media_directory('theme://images')['no_image.png'] %}
{% endif %}

{# render term section #}
<figure class="taxonomy tax-{{ tax }} term-{{ term }}">
    <a href="{{ post.url ~ "/" ~ tax ~ config.system.param_sep ~ term }}">
        <img src="{{ brickview_image(tax, term).cropResize(100, 100).url }}" alt={{ term }}>
        <figcaption>{{ term|humanize|title }}</figcaption>
    </a>
</figure>