{% extends 'default.html.twig' %}


{% block single_image %}
    {% if page.header.source.url %} <a href="{{ page.header.source.url }}" target="_blank" rel="noopener"> {% endif %}
        {{ parent() }}
    {% if page.header.source.url %} </a> {% endif %}
{% endblock %}


{% block single_content %}

    <ul class="tech-meta-list">
        <li class="size">
            <div class="label">Size:</div>
            <div class="value">
                <span class="width"> {{ page.taxonomy.width[0] ~ ' ' ~ page.taxonomy.width[1] }} </span> x
                <span class="depth"> {{ page.taxonomy.depth[0] ~ ' ' ~ page.taxonomy.depth[1] }} </span> x
                <span class="height"> {{ page.taxonomy.height[0] ~ ' ' ~ page.taxonomy.height[1] }} </span>
            </div>
        </li>
        <li class="source">
            <div class="label">Source:</div>
            <div class="value">
                {% if page.header.source %}
                    <span class="external"><a href="{{ page.header.source }}" target="_blank" rel="noopener">{{ page.taxonomy.source[0] }}</a></span>
                    <span class="internal">(view <a href="/tech/source{{ config.system.param_sep }}{{ page.taxonomy.source[0] }}"> more of them</a>)</span>
                {% else %}
                    <span class="unknown"> Unknown </span>
                {% endif %}
            </div>
        </li>
    </ul>


    <ul class="tech-meta-list">
        {% if page.taxonomy|length > 0 %}
        {% for tax, terms in page.taxonomy %}
            {% if terms|length > 0 and tax != 'part' %}
                <li class="{{ tax|pluralize }}">
                    <div class="label">{{ tax|pluralize|title }}:</div>
                    <div class="value">
                    {% for term in terms %}
                        <span class="tech-{{ tax }} {{ term }}">
                            <a href="{{ base_url }}/techs/{{ tax }}{{ config.system.param_sep }}{{ term|url_encode }}">{{ term }}</a>
                        </span>
                    {% endfor %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>

    <section class="parts">
        <h3>Parts <span class="part-count">({{ page.taxonomy.partcount[0] }})</span></h3>
        <ul class="tech-part-list">
            {% for part in page.taxonomy.part %}
                <li class="part-{{ part }}">
                    <a href="{{ base_url }}/techs/part{{ config.system.param_sep }}{{ part|url_encode }}">{{ part }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
