<footer id="footer" class="mt-auto  bg-dark">
{% block footer %}
    {% set footer = pages.find('/widgets/footer') %}
    {% set about = pages.find('/about') %}
    {% set collection = footer.collection() %}

    <nav aria-label="footer" class="navbar navbar-expand-lg navbar-dark">
        <div class="container justify-content-between text-center">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item show mr-lg-auto">
                    <a class="nav-link" href="{{ about.url }}" title="About BrickCamp">
                        © {{ "now" | date('Y') }} {{ config.site.title }}
                    </a>
                </li>
                <li class="nav-item show d-none">
                    <a class="nav-link" href="{{ config.site.gitlab.url }}" title="{{ config.site.title }} on Gitlab" target="_blank" rel="noopener noreferrer">
                        {{ 'FOOTER.REPO'|t }}
                    </a>
                </li>
                <li class="nav-item show mr-lg-auto">
                    <a class="nav-link" href="{{ config.site.gitlab.base ~ page.filePathClean[5:] }}" title="Current page on Gitlab" target="_blank" rel="noopener noreferrer">
                        {{ 'FOOTER.SOURCE'|t }}
                    </a>
                </li>
                {% include 'partials/langswitcher.html.twig' %}
            </ul>

            <ul class="navbar-nav mx-auto">
                {% for item in collection %}
                    <li class="nav-item show">
                        <a class="nav-link  {{ item.active ? 'font-weight-bold' }}" href="{{ item.url }}" title="{{ item.title }}"> {{ item.title }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <small class="text-center text-white-75 w-100 pb-3">
        {{ footer.content|raw }}
    </small>
{% endblock %}
</footer>