{% extends "partials/tntsearch.html.twig" %}

{% block tntsearch_input %}
    <div id="tntsearch-wrapper" class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text bg-success text-white"><i class="icon icon-search icon-2x"></i></span>
        </div>
        <input type="text" name = "q"
                class="form-control form-input tntsearch-field{{ in_page ? ' tntsearch-field-inpage' : '' }}" 
                data-tntsearch="{{ options|json_encode|e('html_attr') }}" 
                placeholder="{{ "PLUGIN_TNTSEARCH.SEARCH_PLACEHOLDER"|t }}" 
                value="{{ not dropdown ? query|e : '' }}" 
                autofocus>
        <div class="input-group-append">
            <span class="btn text-danger tntsearch-clear"{{ not query or dropdown ? ' style="display: none;"' : '' }}>
                <i class="icon icon-close icon-2x"></i>
            </span>
        </div>
    </div>
{% endblock %}
