{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/head_meta.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {# do assets.addCss('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) #}
        {% do assets.addCss('theme://css/pure.css', 98) %}
        {% do assets.addCss('theme://css/grids-responsive.css', 97) %}
        {% do assets.addCss('theme://css/side-menu.css', 96) %}
        {% do assets.addCss('theme://css/custom.css', 50) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {# do assets.addJs('jquery', 100) #}
        {% do assets.addJs('theme://js/side-menu.js', {'group': 'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="type-{{ page.template }} slug-{{ page.slug }} {{ page.taxonomy.tag|join(" ") }}">
<div id="body">

    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
    <nav id="menu" class="pure-menu pure-menu-scrollable">
    {% block header_logo %}
        <a href="{{ base_url == '' ? '/' : base_url }}" alt="{{ config.site.title }}" class="pure-menu-heading">
            <img src="{{ media['theme://images/logo.svg'].resize(150, 150).url }}" class="pure-img" />
        </a>
    {% endblock %}
    
    {% block header_navigation %}
        {% include 'partials/header/navigation.html.twig' %}
    {% endblock %}
    </nav>

    {# <header id="header">
    {% block header %}
        {% include 'partials/header/base.html.twig' %}
    {% endblock %}
    </header> #}

    <main id="main">
    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </main>

    <footer id="footer">
    {% block footer %}
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
    {% endblock %}
    </div>

</div>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
